<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>527A3062-64E0-4BA3-96A3-CC2053D9D669</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
