<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Extra Bold</string>
      <string>glyphs.E_xtra B_old</string>
    </array>
    <array>
      <string>Condensed Thin</string>
      <string>glyphs.C_ondensed T_hin</string>
    </array>
    <array>
      <string>Condensed Light</string>
      <string>glyphs.C_ondensed L_ight</string>
    </array>
    <array>
      <string>Condensed Extra Bold</string>
      <string>glyphs.C_ondensed E_xtra B_old</string>
    </array>
  </array>
</plist>
