<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>May 18, 23 at 07:48</string>
      <string>glyphs.M_ay 18, 23 at 07_48</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Bold.background</string>
      <string>glyphs.B_old.background</string>
    </array>
    <array>
      <string>DJR-extrapolation</string>
      <string>glyphs.D_J_R_-extrapolation</string>
    </array>
    <array>
      <string>DualType_MM_wd75-wg-34.46</string>
      <string>glyphs.D_ualT_ype_M_M__wd75-wg-34.46</string>
    </array>
    <array>
      <string>DJR-extrapolation #1</string>
      <string>glyphs.D_J_R_-extrapolation #1</string>
    </array>
    <array>
      <string>DualType-VL wd77.37-wg544.97</string>
      <string>glyphs.D_ualT_ype-V_L_ wd77.37-wg544.97</string>
    </array>
    <array>
      <string>WorkingLayer</string>
      <string>glyphs.W_orkingL_ayer</string>
    </array>
    <array>
      <string>Working Layer</string>
      <string>glyphs.W_orking L_ayer</string>
    </array>
    <array>
      <string>DJR-extrapolation #2</string>
      <string>glyphs.D_J_R_-extrapolation #2</string>
    </array>
    <array>
      <string>Working Layer 2</string>
      <string>glyphs.W_orking L_ayer 2</string>
    </array>
    <array>
      <string>DJR-extrapolation #3</string>
      <string>glyphs.D_J_R_-extrapolation #3</string>
    </array>
    <array>
      <string>DJR-extrapolation #4</string>
      <string>glyphs.D_J_R_-extrapolation #4</string>
    </array>
    <array>
      <string>DJR-extrapolation #5</string>
      <string>glyphs.D_J_R_-extrapolation #5</string>
    </array>
    <array>
      <string>DJR-extrapolation #6</string>
      <string>glyphs.D_J_R_-extrapolation #6</string>
    </array>
    <array>
      <string>DJR-extrapolation #7</string>
      <string>glyphs.D_J_R_-extrapolation #7</string>
    </array>
    <array>
      <string>DJR-extrapolation #8</string>
      <string>glyphs.D_J_R_-extrapolation #8</string>
    </array>
    <array>
      <string>DJR-extrapolation #9</string>
      <string>glyphs.D_J_R_-extrapolation #9</string>
    </array>
    <array>
      <string>DJR-extrapolation #10</string>
      <string>glyphs.D_J_R_-extrapolation #10</string>
    </array>
    <array>
      <string>Condensed Thin Italic</string>
      <string>glyphs.C_ondensed T_hin I_talic</string>
    </array>
    <array>
      <string>Condensed Italic</string>
      <string>glyphs.C_ondensed I_talic</string>
    </array>
    <array>
      <string>Condensed ExtraBold Italic</string>
      <string>glyphs.C_ondensed E_xtraB_old I_talic</string>
    </array>
    <array>
      <string>Light Italic</string>
      <string>glyphs.L_ight I_talic</string>
    </array>
  </array>
</plist>
