<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>May 19, 22, 10:53</string>
      <string>glyphs.M_ay 19, 22, 10_53</string>
    </array>
    <array>
      <string>May 19, 22, 10:53.background</string>
      <string>glyphs.M_ay 19, 22, 10_53.background</string>
    </array>
    <array>
      <string>May 18, 23 at 07:43</string>
      <string>glyphs.M_ay 18, 23 at 07_43</string>
    </array>
    <array>
      <string>May 18, 23 at 07:43.background</string>
      <string>glyphs.M_ay 18, 23 at 07_43.background</string>
    </array>
    <array>
      <string>May 18, 23 at 07:46</string>
      <string>glyphs.M_ay 18, 23 at 07_46</string>
    </array>
    <array>
      <string>May 18, 23 at 07:46.background</string>
      <string>glyphs.M_ay 18, 23 at 07_46.background</string>
    </array>
  </array>
</plist>
