<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BA00A14C-5170-494A-817C-D753005A6FEA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
