<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>May 20, 22, 21:49</string>
      <string>glyphs.M_ay 20, 22, 21_49</string>
    </array>
    <array>
      <string>May 20, 22, 21:49.background</string>
      <string>glyphs.M_ay 20, 22, 21_49.background</string>
    </array>
    <array>
      <string>May 20, 22, 19:53</string>
      <string>glyphs.M_ay 20, 22, 19_53</string>
    </array>
    <array>
      <string>May 20, 22, 19:53.background</string>
      <string>glyphs.M_ay 20, 22, 19_53.background</string>
    </array>
    <array>
      <string>May 20, 22, 22:11</string>
      <string>glyphs.M_ay 20, 22, 22_11</string>
    </array>
    <array>
      <string>May 20, 22, 22:11.background</string>
      <string>glyphs.M_ay 20, 22, 22_11.background</string>
    </array>
  </array>
</plist>
