<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E5B41172-A3D3-42D7-BC6A-BF23360C32F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
