<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>776</integer>
    <key>capHeight</key>
    <integer>693</integer>
    <key>copyright</key>
    <string>Copyright 2011 Canonical Ltd.  Licensed under the Ubuntu Font Licence 1.0</string>
    <key>descender</key>
    <integer>-185</integer>
    <key>familyName</key>
    <string>Ubuntu Mono</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <integer>-170</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>830</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2011/05/03 14:16:43</string>
    <key>openTypeHheaAscender</key>
    <integer>830</integer>
    <key>openTypeHheaDescender</key>
    <integer>-170</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Dalton Maag Ltd</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.daltonmaag.com/</string>
    <key>openTypeNameManufacturer</key>
    <string>Dalton Maag Ltd</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.daltonmaag.com/</string>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>250</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>693</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-165</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>49</integer>
    <key>openTypeOS2VendorID</key>
    <string>DAMA</string>
    <key>openTypeOS2WinAscent</key>
    <integer>830</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>170</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-123</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>20</integer>
    <key>styleMapFamilyName</key>
    <string>Ubuntu Mono</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Ubuntu and Canonical are registered trademarks of Canonical Ltd.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>840</integer>
    <key>xHeight</key>
    <integer>520</integer>
  </dict>
</plist>
