<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CE89080E-C7C1-451F-BEFB-BA1FF2A3FF35</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.alt</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentcomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaturnedabovecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni030F</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
