<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AC2E3C6E-DF9B-4F83-8F12-D17557A8B511</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
