<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8EC0A8E3-27C9-4D74-88D3-BAD778CE8569</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro.osf</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
