<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E92FEF03-E9E3-4F2C-AEA0-70A6BD58A383</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
