<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>725A180B-A124-46F8-B158-CC0BF1F80A7C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.increment</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
