<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Udieresisacute</key>
    <string>U_dieresisacute.glif</string>
    <key>Udieresiscaron</key>
    <string>U_dieresiscaron.glif</string>
    <key>Udieresisgrave</key>
    <string>U_dieresisgrave.glif</string>
  </dict>
</plist>
