<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7ECD32C6-DE69-43E8-A997-136050A70802</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresisacute</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresiscaron</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Udieresisgrave</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
