<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6A0B4F4E-0076-4B6A-BD73-C142D4C81D74</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.001</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
