<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D4544A9C-DF71-4A36-9A89-3ED5E7B3B442</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rupeeIndian.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen.osf</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
