<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>14059067-AED7-4E41-8C11-D5A66AC08D7E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronbelowcomb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.verticallinebelowcomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
