<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>8 Jan 23 12:02</string>
      <string>glyphs.8 J_an 23 12_02</string>
    </array>
    <array>
      <string>8 Jan 23 12:02.background</string>
      <string>glyphs.8 J_an 23 12_02.background</string>
    </array>
    <array>
      <string>8 Jan 23 14:08</string>
      <string>glyphs.8 J_an 23 14_08</string>
    </array>
    <array>
      <string>8 Jan 23 14:08.background</string>
      <string>glyphs.8 J_an 23 14_08.background</string>
    </array>
    <array>
      <string>8 Jan 23 16:41</string>
      <string>glyphs.8 J_an 23 16_41</string>
    </array>
    <array>
      <string>8 Jan 23 16:41.background</string>
      <string>glyphs.8 J_an 23 16_41.background</string>
    </array>
    <array>
      <string>7 Jan 23 23:24</string>
      <string>glyphs.7 J_an 23 23_24</string>
    </array>
    <array>
      <string>7 Jan 23 23:24.background</string>
      <string>glyphs.7 J_an 23 23_24.background</string>
    </array>
    <array>
      <string>7 Jan 23 23:36</string>
      <string>glyphs.7 J_an 23 23_36</string>
    </array>
    <array>
      <string>7 Jan 23 23:36.background</string>
      <string>glyphs.7 J_an 23 23_36.background</string>
    </array>
    <array>
      <string>8 Jan 23 19:56</string>
      <string>glyphs.8 J_an 23 19_56</string>
    </array>
    <array>
      <string>8 Jan 23 19:56.background</string>
      <string>glyphs.8 J_an 23 19_56.background</string>
    </array>
    <array>
      <string>8 Jan 23 20:19</string>
      <string>glyphs.8 J_an 23 20_19</string>
    </array>
    <array>
      <string>8 Jan 23 20:19.background</string>
      <string>glyphs.8 J_an 23 20_19.background</string>
    </array>
    <array>
      <string>8 Jan 23 19:49</string>
      <string>glyphs.8 J_an 23 19_49</string>
    </array>
    <array>
      <string>8 Jan 23 19:49.background</string>
      <string>glyphs.8 J_an 23 19_49.background</string>
    </array>
    <array>
      <string>Nov 17, 22, 16:43</string>
      <string>glyphs.N_ov 17, 22, 16_43</string>
    </array>
    <array>
      <string>9 Jan 23 22:34</string>
      <string>glyphs.9 J_an 23 22_34</string>
    </array>
    <array>
      <string>9 Jan 23 22:34.background</string>
      <string>glyphs.9 J_an 23 22_34.background</string>
    </array>
    <array>
      <string>8 Jan 23 20:37</string>
      <string>glyphs.8 J_an 23 20_37</string>
    </array>
    <array>
      <string>8 Jan 23 20:37.background</string>
      <string>glyphs.8 J_an 23 20_37.background</string>
    </array>
    <array>
      <string>8 Jan 23 19:28</string>
      <string>glyphs.8 J_an 23 19_28</string>
    </array>
    <array>
      <string>8 Jan 23 19:28.background</string>
      <string>glyphs.8 J_an 23 19_28.background</string>
    </array>
    <array>
      <string>8 Jan 23 19:19</string>
      <string>glyphs.8 J_an 23 19_19</string>
    </array>
    <array>
      <string>8 Jan 23 19:19.background</string>
      <string>glyphs.8 J_an 23 19_19.background</string>
    </array>
    <array>
      <string>13 Jan 23 17:19</string>
      <string>glyphs.13 J_an 23 17_19</string>
    </array>
    <array>
      <string>13 Jan 23 17:19.background</string>
      <string>glyphs.13 J_an 23 17_19.background</string>
    </array>
    <array>
      <string>13 Jan 23 17:10</string>
      <string>glyphs.13 J_an 23 17_10</string>
    </array>
    <array>
      <string>13 Jan 23 17:10.background</string>
      <string>glyphs.13 J_an 23 17_10.background</string>
    </array>
    <array>
      <string>8 Jan 23 19:21</string>
      <string>glyphs.8 J_an 23 19_21</string>
    </array>
    <array>
      <string>8 Jan 23 19:21.background</string>
      <string>glyphs.8 J_an 23 19_21.background</string>
    </array>
    <array>
      <string>Mar 13, 23 at 20:58</string>
      <string>glyphs.M_ar 13, 23 at 20_58</string>
    </array>
    <array>
      <string>Mar 13, 23 at 20:58.background</string>
      <string>glyphs.M_ar 13, 23 at 20_58.background</string>
    </array>
    <array>
      <string>Condensed Regular</string>
      <string>glyphs.C_ondensed R_egular</string>
    </array>
    <array>
      <string>Condensed ExtraBold</string>
      <string>glyphs.C_ondensed E_xtraB_old</string>
    </array>
  </array>
</plist>
