<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>102AAD09-E258-4FE3-A981-A3467F13CFEF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tenge.osf</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tugrik.osf</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
