<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C37A2E0A-78EC-4A89-9B2D-86AE175008B7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.osf</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
