<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2B5AA4B2-C9A6-4462-AB1C-645AD8BE027F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.osf</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
