<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3A21906F-78F3-4C21-8718-E4C3576774C6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar.osf</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hryvnia.osf</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent.osf</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
