<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F2D9E38B-C206-46D6-BCF0-84E96F047A6A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
