<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dotaccentcomb.i</key>
    <string>dotaccentcomb.i.glif</string>
    <key>hryvnia.osf</key>
    <string>hryvnia.osf.glif</string>
    <key>jstroke</key>
    <string>jstroke.glif</string>
    <key>jstroke.dotless</key>
    <string>jstroke.dotless.glif</string>
    <key>rupeeIndian.osf</key>
    <string>rupeeI_ndian.osf.glif</string>
    <key>sterling.osf</key>
    <string>sterling.osf.glif</string>
    <key>verticallinebelowcomb</key>
    <string>verticallinebelowcomb.glif</string>
  </dict>
</plist>
