<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C453C879-A51E-4CD5-B0D4-462573D1131C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronbelowcomb</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.verticallinebelowcomb</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
