<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4730DC39-8197-49E4-95B3-790B79AD0099</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tenge.osf</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
