<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C313705B-9E8C-4EBA-9D14-5695285F4747</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen.osf</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
